/************* BASE STYLES *************/
* { box-sizing: border-box; }
body { font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 1.4; color: #364147; margin: 0; }
input, button { font-family: inherit; font-size: inherit; }
a { color: #faa541; text-decoration: none; }
ul { padding: 0; margin: 0; list-style: none; }
nav { padding: 10px 0; }
h1, h2, h3, h4, h5, h6 { margin: 0; }
/***************************************/

.container {
  margin: 0 auto;

  max-width: 1170px;
}

section {
  display: flex;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-one {
  flex: 1;
}
.align-center {
  align-items: center;
}
.center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.btn {
  cursor: pointer;
  border: 0;
  padding: 6px 12px;
  border-radius: 3px;
  line-height: 1.4;
}
.btn-default {
  color: white;
  background-color: #faa541;
}
.btn-primary {
  color: white;
  background-color: #364147;
}
.form-control {
  display: block;
  padding: 6px 12px;
  border: 1px solid #a0a0a0;
  color: #8598a2;
  line-height: 1.4;
}
.text-light {
  font-size: 30px;
  color: #a0a0a0;
}
.text-secondary {
  font-size: 30px;
  color: #faa541;
}
.text-primary {
  font-size: 16px;
  color: #364147;
}
.header-nav {
  border-bottom: 1px solid #a0a0a0;
}
.brand {
  width: 170px;
  height: 85px;
  margin-left: -15px;
  margin-right: 60px;
}
.logo {
  max-width: 100%;
  height: auto;
}
.search-box {
  width: 330px;
  height: 30px;
  padding: 6px 12px;
  border: 1px solid #a0a0a0;
}
.search-button {
  background-color: #a0a0a0;
  color: white;
  width: 100px;
  height: 30px;
  border: 0;
  padding: 0;
}
.nav-list {
  padding-left: 0;
  width: 575px;
  margin-top: 10px;
}
.nav-list li a {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}
.profile {
  margin-left: auto;
}
.account {
  text-align: right;
  padding: 15px;
  color: #364147;
  font-size: 18px;
}
.account a {
  font-size: 14px;
}